{% extends 'base.html' %}
{% load static %}


{% block body %}<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="{% url 'property:index' %}">Home</a> / Agents</span>
    <h2>Agents</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer agents">

<div class="row">
  <div class="col-lg-8  col-lg-offset-2 col-sm-12">
    {% for ags in agents %}    
      <div class="row">
        <div class="col-lg-2 col-sm-2 "><a href="#"><img src="{{ ags.image.url }}" class="img-responsive"  alt="agent name"></a></div>
        <div class="col-lg-7 col-sm-7 "><h4>{{ ags.name }}</h4><p>{{ ags.description }}</p></div>
        <div class="col-lg-3 col-sm-3 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{ ags.email }}">{{ ags.email }}</a><br>
        <span class="glyphicon glyphicon-earphone"></span><a href="tel:{{ags.number}}"> {{ ags.number }}</a><br>
        <span class="glyphicon glyphicon-envelope"></span><a href="sms:{{ags.number}}">  {{ ags.number }}</a></div>
      </div>
    {% endfor %}  
      <!-- agents -->
  </div>
</div>



</div>
</div>

{% endblock %}