{% extends 'base.html' %}
{% load static %}


{% block body %}
<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="{% url 'property:index' %}">Home</a> / Blogs</span>
    <h2>Blogs</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer blog">
<div class="row">
  <div class="col-lg-8 col-sm-12 ">

  <!-- blog list -->
  {% for blog in blogs %}
    <div class="row">
          <div class="col-lg-4 col-sm-4 "><a href="blogdetail.php" class="thumbnail"><img src="{{ blog.image.url }}" alt="blog title"></a></div>
          <div class="col-lg-8 col-sm-8 ">
          <h3><a href="blogdetail.php">{{ blog.title}}</a></h3>
          <div class="info">Posted on: {{ blog.date }}</div>                                               
          <p>{{ blog.description }}</p>
          <a href="{% url 'property:blog_single' blog.pk%}" class="more">Read More</a>
          </div>
    </div>
  {% endfor %}
  <!-- blog list -->
  </div>
  <div class="col-lg-4 visible-lg">

  <!-- tabs -->
  <div class="tabbable">
  <ul class="nav nav-tabs">
    <li class=""><a href="#tab1" data-toggle="tab">Recent Post</a></li>
    <li class="active"><a href="#tab3" data-toggle="tab">Most Commented</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab1">
      <ul class="list-unstyled">
      {% for rct in recents %}
        <li>
          <h5><a href="{% url 'property:blog_single' rct.pk %}">{{ rct.title }}</a></h5>
          <div class="info">Posted on: {{ rct.date }}</div>  
        </li>
      {% endfor %}  
      </ul>
    </div>
   
    <div class="tab-pane active" id="tab3">
    <ul class="list-unstyled">
      {% for rct in mosts %}
        <li>
          <h5><a href="blogdetail.php">{{ rct.title }}</a></h5>
          <div class="info">Posted on: {{ rct.date }}</div>  
        </li>
      {% endfor %}  
      </ul>
    </div>
  </div>

</div>
  <!-- tabs -->

  </div>
</div>
</div>
</div>

{% endblock %}