{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
  <div class="spacer">
    <div class="row">
      {% for image in images %}
            <div class="col-md-3">
                <img style="" src="{{ image.image.url }}" class="img-responsive" alt="advertisement">
                <a class="btn btn-info"  href="{% url 'property:edit_image' image.pk %}">Edit</a>
                <a class="btn btn-warning"  href="{% url 'property:del_image' image.pk %}">Delete</a>
            </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}